<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-05-21T14:25:15Z</date>
	<key>WorkspacePath</key>
	<string>/Users/emchatty/Google Drive/personal_projects/food_tracker/food_tracker.xcodeproj</string>
</dict>
</plist>
